section {
  padding-top: 60px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

.store-item {
  padding-top: 40px;
  padding-bottom: 25px;
  padding-left: 25px;
  padding-right: 25px;
  border-right: 1px solid rgb(231, 231, 231);
  border-bottom: 1px solid rgb(231, 231, 231);
  display: flex;
  flex-direction: column;
}

.store-item-info{
  height: 370px;
}

.item-image-container {
  height: 180px;
  display: flex;
  align-items: center;
  margin-bottom: 25px;
}

.item-name {
  font-size: 16px;
  font-weight: 100;
  margin: 0;
  margin-bottom: 8px;
}

.rating {
  display: flex;
  align-items: center;
  gap: 5px;
}

.rating img {
  width: 108px;
  height: fit-content;
}
.rating p {
  margin: 0;
  font-size: 16px;
}

.store-item .item-image {
  max-width: 100%;
  max-height: 100%;
}

.item-cost {
  font-size: 18px;
  font-weight: 600;
  margin: 0;
  margin-top: 10px;
  margin-bottom: 10px;
}

.select-number {
  width: 50px;
  color: rgb(33, 33, 33);
  background-color: rgb(240, 240, 240);
  border: 1px solid rgb(213, 217, 217);
  border-radius: 8px;
  padding: 5px;
  font-size: 15px;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(213, 217, 217, 0.5);
}

.select-number:focus {
  border: 2px solid rgb(230, 183, 30);
}

.add-to-cart-section {
  width: 100%;
  margin-top: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.added-to-cart{
  margin: 0;
  font-size: 14px;
  opacity: 0;
  color: #16a34a;
  display: flex;
  align-items: center;
  gap: 4px;
}

.added-to-cart img {
  width: 20px;
}

.display-added {
  animation: display-added 0.8s ease-out;
}

.add-to-cart {
  width: 100%;
  margin-top: 5px;
  border: none;
  padding: 8px;
  border-radius: 999px;
  background-color: rgb(255, 216, 20);
  font-size: 13px;
}

.add-to-cart:hover {
  cursor: pointer;
  background-color: #EAB308;
}

@media (max-width:400px) {
  section {
    grid-template-columns: 1fr;
  }
  .item-image-container {
    align-self: center;
  }
}

@keyframes display-added {
  0% { opacity: 0; }
  25% { opacity: 0.5; }
  50% { opacity: 1; }
  75% { opacity: 0.5; }
  100% { opacity: 0; }
}

@media (max-width:550px) and (min-width: 400px){
  section {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width:800px) and (min-width:550px) {
  section {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width:1000px) and (min-width:800px) {
  section {
    grid-template-columns: repeat(4, 1fr);
  }
}